<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="container-fluid">
      {% if page.url == "/index.html" %}
        {% for post in site.posts limit:1 %}
        <div class="jumbotron">
          <h1>{{ post.title }}</h1>
          <p>
            {{ post.excerpt }}
          </p>
          <p><a class="btn btn-primary btn-lg" href="{{ post.url }}">Learn more</a></p>
        </div>
        {% endfor %}
      {% endif %}
    </div>

    <div class="container" aria-label="Content">
        {{ content }}
    </div>

    {% include footer.html %}
    <script id="dsq-count-scr" src="//usareports.disqus.com/count.js" async></script>
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha256-/SIrNqv8h6QGKDuNoLGA4iret+kyesCkHGzVUUV0shc=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </body>

</html>
